


<button ng-click="otherMarkers()">click</button>

<gmaps markers="markers" style="width: 200px; height: 200px;"></gmaps>
<gmaps markers="markers" map-type="satellite" style="width: 200px; height: 200px;"></gmaps>
<gmaps markers="markers" zoom="2" style="width: 200px; height: 200px;"></gmaps>
<gmaps markers="markers" style="width: 400px; height: 400px;"></gmaps>
<gmaps markers="markers" zoom="7" center="[49.8037633,15.4749126]" style="width: 200px; height: 200px;"></gmaps>

<p>This is the partial for view 1.</p>
